*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*modificar o cabçalho*/
header{
    background-color:  rgb(238, 238, 238);
    grid-area: cabe;
    position: relative;
}
/*texto do cabeçalho*/
header h1{
    right: 40%;
    position: absolute;
    color: rgba(54, 54, 54, 0.726);
}
/*principal*/
main{
    background-color: rgba(255, 255, 255, 0.836);
    grid-area: prin;
}
/*rodapé*/
footer{
    background-color: rgb(0, 0, 0);
    grid-area: roda;
    color: white;
    
}
/*responsividade*/
body{
    background-color: rgb(255, 255, 255);
    margin: 0%;
    display: grid;
    gap: 15px;
    grid-template-areas: 
    "cabe cabe cabe"
    "prin prin prin"
    "roda roda roda";
    grid-template-columns:auto auto auto;
    grid-template-rows:100px auto auto;
}
/* responsividade */
@media only screen and (max-width: 500px) {
    body{
        grid-template-areas: 
        "header"
        "principal"
        "footer";
        grid-template-columns: auto;
        grid-template-rows: 100px auto auto;
    }
}
/* modifica link*/
nav ul li{
    list-style: none;
    display: inline;
    margin: 10px;
}
/* link do header*/
header nav li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.884);
    font-size: 20px;
}
/* transição do link*/
header nav li a:hover{
    background-color: rgba(255, 255, 255, 0.884);
    border-radius: 5px;
    transition: 0.1s;
    padding: 5px;


}
/* elemnetomae responsivo*/
.elementomae{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}
/*  card*/
.card{
   
    width: 550px;
    height:450px ;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.322);
    border-color: 10px white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;

}
/* descrição do produto*/
.sobre{
    justify-content: center;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
    display: flex;
}
/* imagem do produto */
.card img{  
    width: 500px;
    height: 450px ;
    border-radius: 20px;
    margin: 10px;
}
/* link de compra*/
.sobre a{

    background-color: rgb(27, 0, 43);
    border-radius: 20px;
    height: 30px;
    width: 120px;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    padding: 10px;
    transition: 0.2s;
}
/* transição do botão*/
.sobre a:hover{
    background-color: blueviolet;
}

