*{
    font-family: sans-serif;
}
/* Define estilo do header com fundo cinza claro, área de grid "header" e posição relativa */
header {
    background-color: rgb(238, 238, 238);
    grid-area: header;
    position: relative;
}
header{
    background-color: rgb(238, 238, 238);
    grid-area: header;
    position: relative;
}
/* texto do header*/
header h1{
    right: 45%;
    position: absolute;
    color: rgb(0, 0, 0);
}
/*cor do aside*/
aside{
    background-color: rgb(255, 255, 255);
}
/* main*/
main{
    background-color: rgba(255, 255, 255, 0);
    grid-area: principal;
}
/*footer*/
footer{
    background-color: rgb(0, 0, 0);
    grid-area: footer;
    color: white;
    
}
/*responsividade*/
body{
    background-color: rgb(255, 255, 255);
    margin: 0%;
    display: grid;
    gap: 15px;
    grid-template-areas: 
    "header header header"
    "secundario principal principal"
    "footer footer footer";
    grid-template-columns:auto auto auto;
    grid-template-rows:150px auto auto;
}
/*responsividade*/
@media only screen and (max-width: 400px) {
    body{
        grid-template-areas: 
        "header"
        "principal"
        "footer";
        grid-template-columns: auto;
    }
    aside{
        display: none;
    }
}
/* responsivo*/
.elementomae{
   
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

}
/* card*/
.caixa{
    width: 300px;
    height:500px ;
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    justify-content: 20px;
    display: flex;
    padding: 10px;
    border: 0.1px rgba(0, 0, 0, 0.103) solid;
}
/* botão card*/
section div a{
    background-color: rgb(168, 168, 168);
    border-radius: 5px;
    height: 30px;
    width: 120px;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-top: 5px;
    padding: 10px;
    transition: 0.2s;
}

/* imagem card*/
.caixa img{
    width: 280px;
    height: 700px ;
    border-radius: 20px;
    margin: 10px;
}
/* transição do card*/
.caixa:hover{
    background-color: rgba(69, 71, 94, 0.158);
    transition: 0.5s;
    transition-delay: 5ms;
}
/* li aside*/
aside nav li{
    text-decoration: none;
    display: block;
    padding: 5px;
    margin: 10px;
}
/*nav*/
nav ul li{
    list-style: none;
    font-size: 20px;
}
nav li a{
    padding: 5px;
    text-decoration-line: none;
    color: rgb(0, 0, 0);
}
/*transição nav*/
nav li a:hover{
    background-color: #c0c0c0cc;
    border-radius: 5px;
}
/*link card*/
div a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
div{
    text-align: center;
}
/*menu retratil*/
.nav_mobile ul{
    list-style: none;
    position: absolute;
    top: 50px;
    width: 290px;
}
/*deixar invisivel o checkbox*/
.nav_mobile input[type="checkbox"]{
    display: none;
} 
/*links do nav*/
.nav_mobile nav{
    background-color: rgb(163, 163, 163);
    width: 350px;
    height: 1000px;
    position: absolute;
    left: -370px;
    transition: all 0.3s;
}
/*link dos nav*/
.nav_mobile a{
    padding: 10px;
    display: block;
    text-decoration: none;
}
/*onde vai ficar o link*/
.nav_mobile label{
    position: absolute;
    z-index: 1;
    left: 50px;
    top: 35px;
}
/*ao apertar aparece o menu*/
.nav_mobile input[type="checkbox"]:checked ~ nav{
    transform: translateX(350px);
}
/*imagem para aparecer o menu*/
.nav_mobile img{
  width: 40px;
}