body{
    background-color: white;
    display: grid;
    gap: 15px;
    grid-template-areas: 
    "cabeca cabeca cabeca"
    "secundario principal principal"
    "rodape rodape rodape";
}
header{
    grid-area: cabeca;
}
aside{
    grid-area: secundario;
}
main{
    grid-area: principal;
}
footer{
    grid-area: rodape;
}


header{
    background-color: rgb(255, 0, 0);
    position: relative;
    height: 150px;
}
aside{
    background-color: rgb(45, 252, 3);
    position: relative;
    height: 600px;
}
main{
    background-color: gray;
    position: relative;
    height: auto;
}
footer{
    background-color: blue;
}

@media only screen and (max-width: 800px){
    body{
        grid-template-areas: 
        "cabeca"
        "secundario"
        "principal"
        "rodape";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }   
}