body{
    background-color: white;
    display: grid;
    gap: 15px;
    grid-template-areas: 
    "cabeca cabeca cabeca"
    "secundario principal principal"
    "rodape rodape rodape";
}
header{
    grid-area: cabeca;
}
aside{
    grid-area: secundario;
}
main{
    grid-area: principal;
}
footer{
    grid-area: rodape;
}


header{
    background-color: rgb(243, 243, 243);
    position: relative;
    height: 150px;
}
aside{
    background-color: rgb(255, 255, 255);
    position: relative;
   
}
main{
    background-color: rgb(255, 255, 255);
    position: relative;
    height: auto;
}
footer{
    background-color: rgb(253, 249, 249);
    position: relative;
    height: 190px;
}

@media only screen and (max-width: 800px) {
    body{
        grid-template-areas: 
        "cabeca"
        "secundario"
        "principal"
        "rodape";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    } 
}
.elementomae{
    justify-content: space-around;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
   
}
.elemento{
    
    width: 300px;
    height: 450px;
    border-radius: 20px 0 10px 0;
    box-shadow: 2px 2px 6px 2px rgb(19, 18, 18);
    background-color: rgb(255, 255, 255);
    margin: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.elemento:hover{
    transition:0.5s;
    background-color: rgba(119, 119, 119, 0.863);
}
.iphone15{
    width: 280px;
    border-radius: 30px;
    margin: 5px;
}

button{
    border-radius: 10px;
    background-color: aliceblue;
    width: 120px;
    height: 120px;
    color: black;
}
.iphone14{
        

}
.iphone11{
    
}
